.jumbotron {
    background-image: url("../img/ocean\ \(2\).jpg");
    height: 720px;
    background-size: cover;
    background-repeat: no-repeat;
   background-position: top;
   background-position: center;
    align-items: center;
   justify-content: center;
}
.col {
    padding: 10px;
}